body {
  margin: 0;
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  background: #2c3642;
  color: #fff;

}

.container {
  margin: auto;
  width: 100%;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

em {
  font-size:small;
}